
<div class="dialog">
  <p><%= params[:question] %></p>
  <p>-<em>You</em></p>
</div>

<div class="dialog">
  <p><strong><%= @answer %></strong></p>
  <p>-<em>Your coach</em></p>
</div>

<%= link_to "Ask a new question to your coach", "/ask" %>
